*.pyc
__pycache__
*~
.DS_Store
.history
build/*
dist/*
nx_parallel/version.py
examples/*/*.png
doc/build
doc/ghpages_build
.coverage
*.class

examples/advanced/edgelist.utf-8
examples/basic/grid.edgelist

# Generated when 'python setup_egg.py'
nx_parallel.egg-info/

# Sublime Text project files
*.sublime-project
*.sublime-workspace

# Backup files
*.bak

# IPython Notebook Checkpoints
.ipynb_checkpoints/

# Vim's swap files
*.sw[op]

# Spyder project file
.spyderproject

# PyCharm project file
.idea

# VS Code settings
.vscode

# PyTest Cache
.pytest_cache

# Benchmark products
benchmarks/env
benchmarks/results