name: Tests

on:
  pull_request:
  push:
    branches: [main]

jobs:
  test:
    runs-on: ${{ matrix.os }}
    continue-on-error: true
    defaults:
      run:
        shell: bash -l {0}
    strategy:
      # fail-fast: true
      matrix:
        os: ["ubuntu-latest", "macos-latest", "windows-latest"]
        python-version: ["3.11", "3.12"]
    steps:
      - name: Checkout
        uses: actions/checkout@v3
        with:
          fetch-depth: 0
      - name: Conda
        uses: conda-incubator/setup-miniconda@v2
        with:
          auto-update-conda: true
          python-version: ${{ matrix.python-version }}
          channels: conda-forge
          activate-environment: testing
      - name: Install dependencies
        run: |
          conda install -c conda-forge joblib scipy pandas pytest-cov pytest-randomly
            # matplotlib lxml pygraphviz pydot sympy  # Extra networkx deps we don't need yet
          python -m pip install git+https://github.com/networkx/networkx.git@main
          python -m pip install .
          echo "Done with installing"
      - name: PyTest
        run: |
          NETWORKX_GRAPH_CONVERT=parallel \
          NETWORKX_TEST_BACKEND=parallel \
          NETWORKX_FALLBACK_TO_NX=True \
                python -m pytest --pyargs networkx

          python -m pytest --doctest-modules --pyargs nx_parallel
